body {
    display: grid;
    margin: 0;
}

body > div {
    display: grid;
    justify-self: left;
    align-self: center;

    background: #000000bf;
    color: white;
    font-family: monospace;
    font-size: 1.5em;

    border-radius: .5em;
    padding: .25em .5em;
    margin: .5em;
    gap: .25em;
}

body > div > div:first-child {
    display: flex;
    justify-content: space-around;
    align-items: center;

    gap: .5em;
}

body > div > div:first-child::before {
    content: '◀';
    color: transparent;
}

body > div > div:first-child::after {
    content: '▶';
    color: transparent;
}

body > div.back > div:first-child::before {
    color: inherit;
}

body > div.forward > div:first-child::after {
    color: inherit;
}