body {
    margin: 0;

    display: flex;
    flex-direction: column;
    align-items: flex-end;

    user-select: none;
    overflow: hidden;

    font-family: sans-serif;
}

div.menu {
    width: 20em;
}

div.menu > div.subheader {
    display: flex;
    justify-content: space-between;
}

div.menu > div.header,
div.menu > div.arrows {
    text-align: center;
}

div.menu > div.subheader,
div.menu > div.items > div.item,
div.menu > div.description:not(:empty) {
    padding: .25em .5em;
}

div.menu > div.description:not(:empty) {
    margin-top: .25em;

    line-break: anywhere;
}

div.menu > div.subheader > div.title {
    text-transform: uppercase;
}

div.menu > div.header,
div.menu > div.subheader > div.title,
div.menu > div.items > div.item > div.label {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

div.menu > div.subheader {
    background: #000;
    color: #fff;
}

div.menu > div.items,
div.menu > div.arrows,
div.menu > div.description {
    background: #000000bf;
    color: white;
}

div.menu > div.items > div.item.selected {
    background: white;
    color: black;
}

div.menu > div.header {
    line-height: 1em;

    padding: 1rem;

    font-size: 2em;

    background-color: #008cff;
    color: white;

    font-family: cursive;
}


div.menu > div.header:empty {
    height: 1em;
}